NEXT_PUBLIC_SUPABASE_URL=https://xgdinqpxjywlfhjylktu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnZGlucXB4anl3bGZoanlsa3R1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwNjA3NTEsImV4cCI6MjA5MjYzNjc1MX0.jP0o6MxlXxsrAh43c2L7UTY8xMZRKQybA8SVpdwfqVA
