@tailwind base;
@tailwind components;
@tailwind utilities;

.text-xs, .text-sm, .text-base, .text-lg, .text-xl, .text-2xl, .text-3xl, .text-4xl, .text-5xl, .text-6xl {
  font-family: 'Outfit-Regular';
}

.font-normal {
  font-family: 'Outfit-Regular';
}
.font-medium {
  font-family: 'Outfit-Medium';
}
.font-semibold {
  font-family: 'Outfit-SemiBold';
}
.font-bold {
  font-family: 'Outfit-Bold';
}
.font-extrabold {
  font-family: 'Outfit-Bold';
}
